html {
    background-color: #fff3d6;
}

h1, h2 {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffbe8c;
    text-align: center;
}